/* =GENERAL
--------------------------------------------------------------------------------------------- */

/* ------- Typography ------- */

body {     
    background-color: #556B2F;
    }

a {
    color: #92B851;
    }    
    a:hover {
        color: #556B2F;
        }
    a:link { 
        -webkit-tap-highlight-color: #ccc; 
        }

h1, h2, h3, h4, h5, h6 {
    color: #556B2F; 
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
    }

textarea:focus,       
input:focus {
    box-shadow: 0 0 8px #556B2F;
    -webkit-box-shadow: 0 0 8px #556B2F; 
    -moz-box-shadow: 0 0 8px #556B2F;
    border:1px solid #556B2F; 
    }
        
input[type="submit"],
.adelante-button {
    background-color: #556B2F;
    border-color: #556B2F;
    }
    
::-moz-selection {  
    background: #556B2F; 
    color: #fff; 
    }
::selection {  
    background: #556B2F; 
    color: #fff; 
    }

.tooltipsy {
    color: #fff;
    background: #556B2F;
    }
    
        
/* ------- Clean button ------- */


/* ------- Grid ------- */

#wrap { 
    border-top: 1px solid #859469;
    clear: both;
    padding-bottom: 20px;
}

/* ------- Main menu ------- */

#nav-main ul li a:hover, 
#nav-main ul li.current-menu-item > a, 
#nav-main ul li.current-menu-parent > a, 
#nav-main ul li.current-menu-ancestor > a, 
#nav-main ul li.current_page_item > a,
#nav-main ul li:hover > a { 
    color: #859469; 
}


/* ------- Page Header ------- */

#page-heading {
    background-color: #556B2F;
    }

#teaser {
    border-top: 1px #859469 solid;
    }          
     
.slider-frame .preloader { 
    background: url(DarkOliveGreen/ajax-loader.gif) center center no-repeat !important;  
    }
    
            
/* =CONTENT
--------------------------------------------------------------------------------------------- */

#main { 
    background-color: #fff;
    }
    #main .container {
        border: 1px solid #d1d1d1;
        }
         
/* ------- Primary Sidebar ------- */

#sidebar .widget .inner {
    background: white;
    border: 1px solid #d1d1d1;
    }           
#sidebar .widget h2,
#sidebar .widget h3 {
    background: #f5f6f7;
    color: #556B2F; 
    border-bottom: 1px solid #d1d1d1;
    }
       
/* FOOTER
--------------------------------------------------------------------------------------------- */

footer article .inner a:hover {
    color: #92B851;
    } 

#content-info {  
    border-top: #859469 solid 2px;  
    }
    
/* =Shortcodes
--------------------------------------------------------------------------------------------- */

/* ------- Dropcaps ------- */

.dropcap1 {
    color: #556B2F;
    }
.dropcap2{
    background:transparent url(DarkOliveGreen/sprite.png) no-repeat scroll -4px -4px;
    }

    
/* WIDGETS & PLUGINS
--------------------------------------------------------------------------------------------- */

/* ------- WP pagenavi ------- */

.wp-pagenavi span.current {
    background: #556B2F;
    border: 1px solid #556B2F;    
    }
   
/* ------- Twitter Widget ------- */

.twitter_bird {
    background: transparent url(DarkOliveGreen/sprite.png) no-repeat scroll left -73px;
    }
    
/* ------- Flickr Widget ------- */

#flickr h3 span {
    color: #0061D8;
    }
    #flickr h3 span span {
        color: #FF1183;
        }
#flickr a {
    border: 1px solid #eee;
    }
    #flickr a img {
        border: 1px solid #fff;
        }
div.flickr_badge_image {
    background: #f5f5f5 none repeat scroll 0 0;
    } 

/* ------- Images ------- */

.frame,
.small_frame {

    }
.frame img{
    background: #F5F5F5 none repeat scroll 0 0;
    border: 1px solid #fff;   
    }
.small_frame img {
    background: #F5F5F5 none repeat scroll 0 0;
    border: 1px solid #fff;
    }


/* ------- Toggle Box ------- */

h4.togglebox_title {
    background: transparent url(DarkOliveGreen/sprite.png) no-repeat scroll left -142px ;
    }
h4.clicked {
    background: transparent url(DarkOliveGreen/sprite.png) no-repeat scroll left -203px;
    }